*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn1,#btn2,#btn3,#btn4,
#btn5,#btn6,#btn7,#btn8,#btn9{
    width: 80px;
    height: 50px;
    margin: 10px 2px;
    border-radius: 8px;
    color: black;
}

#reset{
    font-size: 17px;
    width: 90px;
    height: 35px;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 65, 65);
    border-radius: 8px;
}

#info{
    font-size: 20px;
    font-weight: bold
}